
				/* div 	 */
					/* { */
						/* color:red; */
					/* } */
			
				body 
					{
							color: rgb(20,20,20);
							 background-color: rgb(200,200,200); 
							font-family: 'Quicksand';
							/* width:15%; */
							/* margin:auto; */
							/* text-align:center; */
							/* font-size: 10px; */
					}
				h2{
						color: rgb(40,40,40);
						/* background-color: rgb(255,0,255); */
						font-family: 'Quicksand';
						text-align:left;
						width:100%;
						margin:0;
					
			}
			/* div div  */
					/* { */
						/* width:15%; */
						/* margin:auto; */
						/* text-align:center; */
					/* } */
			.party
					{
						width:300px;
						margin:200;
						font-weight:700;
						/* text-align:center; */
					}
			.gifcentre 
					{
						/* background-color:blue; */
						/* width:15%; */
						/* display: block; */
						/* margin-left: auto; */
						/* margin-right: auto; */
						/* text-align:center; */
						
						display: flex;
						flex-flow: row wrap;
						justify-content:center-right;
					}
			.description
					{
						display:flex;
						flex-flow:row ;
						  width:800px; 
						  margin:20px;
						  text-align:left-side;
						  
					}			
					.liens
					{
						/* display: flex; */
						/* flex-flow: column ; */
						/* width:150px; */
						
					}
					
				h4
					{
						font-family:'Quicksand';
					}
				.links
					{
						
						font-family:'Quicksand';
						font-weight:400;
					}
				.links:hover
					{
						
						color: rgb(150,150,150);
					}
				
			
				font-family: 'Quicksand', sans-serif;
				
				
		
